.footer {
   padding: 60px 0;
   background-color: $hero-footer-bg-color;
}

.footer__box {
   @media screen and (max-width: 767px) {
      text-align: center;
      margin-bottom: 60px;
   }

   @media screen and (min-width: 1200px) {
      text-align: start;
      margin-right: 70px;
   }
}

.footer__container {
   @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: baseline;
   }

   @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: baseline;
   }
}
