.header {
  @media screen and (min-width: 768px) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background-color: $hero-text-color;
  }

  &__border {
    border-bottom: 1px solid #ececec;
  }
}
