.logo {
   display: inline-block;
   font-family: Raleway;
   text-decoration: none;
   @include font(700, 24px, 1.16, 0.03em);
   color: $accent-color;

   @media screen and (min-width: 1200px) {
      display: inline-block;
      @include font(700, 26px, 1.19, 0.03em);
   }
}

.logo--indent {
   padding-top: 16px;
   padding-bottom: 16px;
   box-sizing: content-box;

   @media screen and (min-width: 768px) {
      padding-top: 26px;
      padding-bottom: 26px;
      margin-right: 88px;
   }

   @media screen and (min-width: 1200px) {
      padding-top: 24px;
      padding-bottom: 25px;
      margin-right: 93px;
   }
}

.logo--black {
   color: #000000;
}

.logo--shadow {
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo--white {
   color: $hero-text-color;
}

.logo--margin {
   margin-bottom: 20px;
}
